spring:
  profiles:
    active: local
  application:
    name: seouldreamcell-be

  # .env 파일의 변수명과 정확히 매칭했습니다.
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}

  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQLDialect

logging:
  file:
    name: logs/application.log
  logback:
    rollingpolicy:
      max-file-size: 10MB
      max-history: 30
      total-size-cap: 1GB
      file-name-pattern: ${LOG_FILE}.%d{yyyy-MM-dd}.%i.gz

management:
  endpoints:
    web:
      exposure:
        include: health, info, prometheus
  endpoint:
    health:
      show-details: always
    prometheus:
      access: unrestricted

app:
  jwt:
    secret: ${APP_JWT_SECRET}
    expiration-ms: 86400000
    refresh-expiration-ms: 86400000
    remember-me-expiration-ms: 2592000000