spring:
  profiles:
    active: local
  application:
    name: seouldreamcell-be

  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: update
    #    show-sql: true   # JPA 쿼리를 콘솔에 출력 (개발 시 유용)
    properties:
      hibernate:
        format_sql: true

management:
  endpoints:
    web:
      exposure:
        include: health, info, prometheus
  endpoint:
    health:
      show-details: always
    prometheus:
      enabled: true

app:
  jwt:
    secret: ${APP_JWT_SECRET} # This value will be injected from an environment variable
    expiration-ms: 86400000 # 24 hours
    refresh-expiration-ms: 86400000 # 1 day (default)
    remember-me-expiration-ms: 2592000000 # 30 days